<div class="block background-white fullwidth">
    <div class="page-header">
        <h1>Expressions</h1>
        <p>Read what our customers says about our directory services and products. Do you want to<br> read more? Check out another <a href="#">interesting testimonials</a>.</p>
    </div><!-- /.page-header -->
    
    {% if lastComments %}
        <div class="row">
            
            {% for lc in lastComments %}
                
                {% if loop.index0 == (0 or 2) %}
                    <div class="col-sm-6">
                {% endif %}   
                
                    {% if loop.index0 == 4 %}
                        {% include 'AnnuaireAnnuaireBundle:BienEtre/Includes:commentLast.html.twig' %}
                    {% else %}
                        {% include 'AnnuaireAnnuaireBundle:BienEtre/Includes:comment.html.twig' %}
                    {% endif %}  
                        
                {% if loop.index0 == (2 or 4) %}
                    </div><!-- /.col-* -->
                {% endif %}
                    
            {% endfor %}
        </div>
        
    {% else %}
        pas de Commentaires enregistrés
    {% endif %}


    </div>
