<div class="user-inscription">
    <div class="container">
        <div class="row">
            <div class="col-sm-1 col-sm-offset-8 col-lg-8 col-lg-offset-2">
                <form action="?" method="get">
                    <h2>Start Searching</h2>

                    <div class="hero-image-keyword form-group">
                        <input class="form-control" type="text" placeholder="Keyword">
                    </div><!-- /.form-group -->

                    <div class="hero-image-location form-group">
                        <select title="Location" class="form-control">
                            <option>Bronx</option>
                            <option>Brooklyn</option>
                            <option>Manhattan</option>
                            <option>Staten Island</option>
                            <option>Queens</option>
                        </select>
                    </div><!-- /.form-group -->

                    <div class="hero-image-category form-group">
                        <select title="Category" class="form-control">
                            <option value="">Automotive</option>
                            <option value="">Jobs</option>
                            <option value="">Nightlife</option>
                            <option value="">Services</option>
                        </select>
                    </div><!-- /.form-group -->

                    <div class="hero-image-price form-group">
                        <input class="form-control" type="text" placeholder="Min. Price">
                    </div><!-- /.form-group -->

                    <button class="btn btn-primary btn-block" type="submit">Search</button>
                </form>
            </div><!-- /.col-* -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.hero-image-form-wrapper -->