<div class="block background-white fullwidth mt80">
    <div class="row">
        <div class="col-sm-6">
            <div class="posts">
                <div class="post">
                    <div class="post-image">
                        <img alt="" src="{{ asset('bundles/annuaireannuaire/img/tmp/product-6.jpg') }}">
                        <a class="read-more" href="blog-detail-right-sidebar.html">View</a>
                    </div><!-- /.post-image -->

                    <div class="post-content">
                        <div class="post-label">Automotive</div><!-- /.post-label -->
                        <div class="post-date">07/12/2015</div><!-- /.post-date -->
                        <h2>The Deep South</h2>
                        <p>Oh, all right, I am. But if anything happens to me, tell them I died robbing some old man. Calculon is gonna kill us and it's a...</p>
                    </div><!-- /.post-content -->
                </div><!-- /.post -->

                <div class="post">
                    <div class="post-image">
                        <img alt="" src="{{ asset('bundles/annuaireannuaire/img/tmp/product-8.jpg') }}">
                        <a class="read-more" href="blog-detail-right-sidebar.html">View</a>
                    </div><!-- /.post-image -->

                    <div class="post-content">
                        <div class="post-label">Transport</div><!-- /.post-label -->
                        <div class="post-date">06/18/2015</div><!-- /.post-date -->
                        <h2>Raging Bender</h2>
                        <p>For one beautiful night I knew what it was like to be a grandmother. Subjugated, yet honored. Then throw her in the laundry roo...</p>
                    </div><!-- /.post-content -->
                </div><!-- /.post -->



                <div class="post">
                    <div class="post-image">
                        <img alt="" src="{{ asset('bundles/annuaireannuaire/img/tmp/product-10.jpg')}}">
                        <a class="read-more" href="blog-detail-right-sidebar.html">View</a>
                    </div><!-- /.post-image -->

                    <div class="post-content">
                        <div class="post-label">Vacation</div><!-- /.post-label -->
                        <div class="post-date">05/26/2015</div><!-- /.post-date -->
                        <h2>The Prisoner of Benda</h2>
                        <p>Check it out, y'all. Everyone who was invited is here. Well, thanks to the Internet, I'm now bored with. Is there a place on th...</p>
                    </div><!-- /.post-content -->
                </div><!-- /.post -->
            </div><!-- /.posts -->

        </div><!-- /.col-* -->

        <div class="col-sm-6">
            <div class="events">
                <div class="event">
                    <div class="event-date">
                        <span class="day">28</span>
                        <span class="month">APR</span>
                    </div><!-- /.event-date -->

                    <div class="event-content">
                        <h2>Cras cursus augue at porttitor</h2>
                        <p>Nulla ac lectus posuere, rhoncus dui sed, finibus tellus. Proin enim mi.</p>
                        <div class="event-time"><i class="fa fa-clock-o"></i> 8:00PM - 11:00PM</div><!-- /.event-time -->
                    </div><!-- /.event-content -->
                </div><!-- /.event -->

                <div class="event">
                    <div class="event-date">
                        <span class="day">18</span>
                        <span class="month">OCT</span>
                    </div><!-- /.event-date -->

                    <div class="event-content">
                        <h2>Fusce pulvinar quam odio</h2>
                        <p>Nulla ac lectus posuere, rhoncus dui sed, finibus tellus. Proin enim mi.</p>
                        <div class="event-time"><i class="fa fa-clock-o"></i> 12:00AM - 2:00PM</div><!-- /.event-time -->
                    </div><!-- /.event-content -->
                </div><!-- /.event -->

                <div class="event">
                    <div class="event-date">
                        <span class="day">22</span>
                        <span class="month">FEB</span>
                    </div><!-- /.event-date -->

                    <div class="event-content">
                        <h2>Cras libero justo, fringilla in quam</h2>
                        <p>Nulla ac lectus posuere, rhoncus dui sed, finibus tellus. Proin enim mi.</p>
                        <div class="event-time"><i class="fa fa-clock-o"></i> 10:00AM - 6:00PM</div><!-- /.event-time -->
                    </div><!-- /.event-content -->
                </div><!-- /.event -->

                <div class="event">
                    <div class="event-date">
                        <span class="day">28</span>
                        <span class="month">AUG</span>
                    </div><!-- /.event-date -->

                    <div class="event-content">
                        <h2>Phasellus vitae velit sit</h2>
                        <p>Nulla ac lectus posuere, rhoncus dui sed, finibus tellus. Proin enim mi.</p>
                        <div class="event-time"><i class="fa fa-clock-o"></i> 8:00PM - 10:00PM</div><!-- /.event-time -->
                    </div><!-- /.event-content -->
                </div><!-- /.event -->
            </div><!-- /.events -->

        </div><!-- /.col-* -->
    </div><!-- /.row -->
    </div><!-- /.block -->
