<div class="hero-image-content">
    <div class="container">
        <h1>Directory Template</h1>

        <p>Create your own directory website by using Superlist template <br> incorporating all features of modern directory website.</p>

        <a class="btn btn-primary btn-lg" href="listing-row.html">View Listings</a>
        <a class="btn btn-secondary btn-lg" href="listing-submit.html">Submit</a>
    </div><!-- /.container -->
</div><!-- /.hero-image-content -->   
